.hero {
  display: grid;
  gap: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

.heroLogo {
  width: 260px;
  >img {
    width: 100%;
  }
}

.copy {
    display: grid;
    gap: 1rem;
}

/* Title */
.title {
  opacity: 0;
  transform: translateY(20px);
}

/* Maker line */
.subtitle {
  opacity: 0;
  transform: translateY(20px);
  padding: 0;
  font-style: italic;
}

/* Identity line */
.tagline {
  max-width: 700px;
  opacity: 0;
  transform: translateY(20px);
}
