.homeWrapper {
    display: grid;
    align-items: center;
    height: 100vh;
}

/* Fade + slide up */
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-title {
  animation: fadeUp 0.8s ease-out forwards;
}

.animate-tagline {
  opacity: 0;
  animation: fadeUp 1s ease-out forwards;
  animation-delay: 0.3s;
}
