/* GLOBAL LAYOUT */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
} */

#root {
  --display-font: "Barlow Condensed", sans-serif;
  height: 100vh;
  display: grid;
  align-content: space-evenly;
  gap: 1.5rem;
  color: #fff;
  background-color: #000;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

span {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navLinks a {
  font-family: var(--display-font);
  text-transform: uppercase;
  margin: 0;
}

h1 {
  font-size: 10rem;
  line-height: 10rem;
  text-transform: none !important;
  font-weight: 700;
  > span {
    font-weight: 400;
    font-style: italic;
    color: red;
  }
}

h2 {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

h4,
a {
  font-size: 1rem;
  line-height: 1rem;
}

h5,
.footerLinks {
  font-size: 0.825rem;
  line-height: 0.825rem;
}

p {
  font-size: 1rem;
  line-height: 1.25rem;
  padding-top: 1rem;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  text-transform: lowercase;
}

a:hover {
  text-decoration: line-through;
}
.navLinks a {
  font-weight: 700;
    font-size: 1.25rem;
  line-height: 1.25rem;
}

.nav {
  display: flex;
  padding-top: 1.5rem;
  flex-direction: row;
  align-items: center;
}

.innerNav {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  width: 100px;
  > a {
    > img {
      width: 100%;
    }
  }
}
.navLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

footer {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-bottom: 1.5rem;
}

@media only screen and (max-width: 915px) {
  main {
    margin: 35px;
  }

  .container {
    width: inherit;
    padding: 1.5rem;
        margin: unset;
  }

  .logo {
    width: 80px;
  }

  .innerNav {
    padding: 0 1.5rem;
  }

  /* .navLinks a {
    font-size: 1.5rem;
  } */

  footer {
    display: flex;
    flex-direction: column;
            align-items: flex-start;
    gap: 0.5rem;
  }
}
